 
  <div class="swiper swiperTest">
    <div class="swiper-wrapper">
        <div class="swiper-slide max-sm:px-3">
            <p class="text-black text-xl leading-8 tracking-tighter p-1 px-0" data-swiper-parallax="-400">
                The whole NestorBird-Team delivered outstanding work on this ERPNext development/ consulting project & I have enjoyed working with all of them. I would hire the whole team again anytime & look forward to working with them in the future, again. The communication was at any time top-notch, they met all deadlines, and the team's skills were strong. 
                <br />
                We recommend them for overall consultation in Accounting & CRM,  customizing & individual development.
            </p>
            <ul class="flex flex-auto m-auto justify-center items-center p-0 mt-8">
                <!-- <li data-swiper-parallax="-300"><img src="/assets/images/anthony.webp" alt="Anthony" /></li> -->
                <li class="text-center font-bold px-4"  data-swiper-parallax="-200">
                    Patrick Stuhlmueller<br />
                    <!-- <span class="text-xs">Vonzuu.com</span> -->
                </li>
            </ul>
        </div>
        <div class="swiper-slide max-sm:px-3">
            <p class="text-black text-xl leading-8 tracking-tighter p-1 px-0" data-swiper-parallax="-400">
                "We're very happy with NestorBird and its team. They helped us tailor-fit an ERPNext software solution that is one of its kind, considering all our unique business requirements. We, as an organization, are in the process of achieving end-to-end automation, and in quest of the same, we have identified ERPNext, which fits the requirements. But the biggest challenge was finding the right partner to help us achieve automation and integrate with our Get POS. And very important to train our people to get adapted to automation.
                <br />
                The outcome- we have achieved EVERYTHING. Like, the transformation from manual to automation, integration with Get POS, and training of our people so they can use the system easily.
                <br />
                We have finalized the NestorBird team as our IT partner, and I am very thankful to the team for their outstanding services."
            </p>
            <ul class="flex flex-auto m-auto justify-center items-center p-0 mt-8">
                <!-- <li data-swiper-parallax="-300"> <img src="/assets/images/agribora.webp" alt="agribora" /> </li> -->
                <li class="text-center font-bold px-4" data-swiper-parallax="-200">
                    Get POS<br />
                    <!-- <span class="text-xs">Agribora</span> -->
                </li>
            </ul>
        </div>

        
        <div class="swiper-slide max-sm:px-3">
            <p class="text-black text-xl leading-8 tracking-tighter p-1 px-0" data-swiper-parallax="-400">
                "On behalf of RYK Hospital, I am pleased to recommend NestorBird for providing ERPNext Healthcare Solution with full customization and automation. This healthcare solution's prompt services have helped us create a centralized platform to run different operations simultaneously.  
                <br />
                I found this software user-friendly and flexible to manage Appointment Booking, Role Permission, Medical Records, Billing, and Data Backup regularly. I would like to appreciate their developing team's remarkable potential, who have sound knowledge in all phases of the latest Information Technology, Hospital Management Systems, and Financials."
                <br />
            </p>
            <ul class="flex flex-auto m-auto justify-center items-center p-0 mt-8">
                <li data-swiper-parallax="-300"> <img src="/assets/images/ryk-logo.svg" alt="RYK Hospital" /> </li> 
                <li class="text-left font-bold px-4"  data-swiper-parallax="-200">
                    Dr. Muhammad Wazir<br />
                    <span class="text-xs">RYK Hospital</span>
                </li>
            </ul>
        </div>

        
        <div class="swiper-slide max-sm:px-3">
            <p class="text-black text-xl leading-8 tracking-tighter p-1 px-0" data-swiper-parallax="-400">
                "We recently worked with NestorBird for our HubSpot CRM implementation. The team at NestorBird is exceptionally knowledgeable and professional. They helped us implement CRM and trained our team to use it efficiently.
                <br />
                With their expert guidance and customer-centric approach, we have effectively streamlined our sales and marketing processes to achieve our business goals. Overall, we are incredibly impressed with the ROI benefits of this platform and highly recommend NestorBird to Businesses looking for a reliable HubSpot CRM implementation service provider worldwide."
            </p>
            <ul class="flex flex-auto m-auto justify-center items-center p-0 mt-8">
                <!-- <li data-swiper-parallax="-300"> <img src="/assets/images/agribora.webp" alt="agribora" /> </li> -->
                <li class="text-center font-bold px-4"  data-swiper-parallax="-200">
                    Ranger Guard<br />
                    <!-- <span class="text-xs">Vonzuu.com</span> -->
                </li>
            </ul>
        </div>

        
        <div class="swiper-slide max-sm:px-3">
            <p class="text-black text-xl leading-8 tracking-tighter p-1 px-0" data-swiper-parallax="-400">
                "Thanks to NestorBird, we finally have our hands on the pulse of our HubSpot account! Their expertise in the HubSpot domain is simply outstanding. 
                <br />
                Since partnering with them, we have gained invaluable insights and real-time visibility into our HubSpot data that has helped us monitor our business, make informed decisions, and optimize our marketing efforts like never before. I highly recommend the NestorBird team for all your HubSpot monitoring needs."
            </p>
            <ul class="flex flex-auto m-auto justify-center items-center p-0 mt-8">
                <!-- <li data-swiper-parallax="-300"> <img src="/assets/images/agribora.webp" alt="agribora" /> </li> -->
                <li class="text-center font-bold px-4"  data-swiper-parallax="-200">
                    CareHires <br />
                    <!-- <span class="text-xs">Vonzuu.com</span> -->
                </li>
            </ul>
        </div>

        
        <div class="swiper-slide max-sm:px-3">
            <p class="text-black text-xl leading-8 tracking-tighter p-1 px-0" data-swiper-parallax="-400">
                "Working with NestorBird has been a game-changer for our business growth! Their email marketing and workflow automation services have allowed us to reach our target audience effortlessly. We are extremely happy with their strategic reporting and performance monitoring approach, which has helped us to track clients and their payment gateways. Highly recommend NestorBird for all your marketing and automation needs!"
            </p>
            <ul class="flex flex-auto m-auto justify-center items-center p-0 mt-8">
                <!-- <li data-swiper-parallax="-300"> <img src="/assets/images/agribora.webp" alt="agribora" /> </li> -->
                <li class="text-center font-bold px-4"  data-swiper-parallax="-200">
                    Central Cycle<br />
                    <!-- <span class="text-xs">Vonzuu.com</span> -->
                </li>
            </ul>
        </div>

        
        <div class="swiper-slide max-sm:px-3">
            <p class="text-black text-xl leading-8 tracking-tighter p-1 px-0" data-swiper-parallax="-400">
                Nestorbird makes the effort to deliver quality work every time and provide support when required. They listen to feedback and make adjustments whenever necessary as well as make expert recommendations where needed.
            </p>
            <ul class="flex flex-auto m-auto justify-center items-center p-0 mt-8">
                <!-- <li data-swiper-parallax="-300"> <img src="/assets/images/agribora.webp" alt="agribora" /> </li> -->
                <li class="text-center font-bold px-4"  data-swiper-parallax="-200">
                    Shevrado Oliver<br />
                    <!-- <span class="text-xs">Vonzuu.com</span> -->
                </li>
            </ul>
        </div>

        
        <div class="swiper-slide max-sm:px-3">
            <p class="text-black text-xl leading-8 tracking-tighter p-1 px-0" data-swiper-parallax="-400">
                NestorBird has been our partner for over 2 years now, they have huge dedication to any task assigned to them. I recommend working with them.
            </p>
            <ul class="flex flex-auto m-auto justify-center items-center p-0 mt-8">
                <!-- <li data-swiper-parallax="-300"> <img src="/assets/images/agribora.webp" alt="agribora" /> </li> --> 
                <li class="text-center font-bold px-4"  data-swiper-parallax="-200">
                    IT Munawla<br />
                    <!-- <span class="text-xs">Vonzuu.com</span> -->
                </li>
            </ul>
        </div> 
         
    </div>
    <div class="testimonial-pagination"></div>
</div>
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".swiperTest", {
      speed: 1500,
      parallax: true,
      autoplay: false, 
      loop: true, 
      freeMode: true, 
      centeredSlides: true,
      slidesPerView:1,         
      pagination: {
        el: ".testimonial-pagination",
        clickable: true
      },
    });
     
  </script>